*{
    margin: 0;
    font-family: "roboto", sans-serif;
    padding: 0;
}

header{
    width: 100%;
}

.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.70)), url(images/donation5.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* .header-info{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.header-info{
    width: 100%;
    height: 100vh;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.header-info h1{
    font-size: 5rem;
    font-weight: 700;
}

.header-info p{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "lato", sans-serif;
    margin-bottom: 30px;
}

.btn{
    background: rgb(231, 56, 56);
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 10px;
}

.donate_today{
    padding: 100px 25%;
    text-align: center;
}

.donate-header{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 600;
}

.donate-description{
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
    font-weight: 400;
}

.donate_amount{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 50px;
}

.donate_amount .col{
    background: rgb(240, 240, 240);
    padding: 35px 25px;
    margin: 0 auto;
    border-radius: 10px;
}

.mark-ammount{
    background: rgb(255, 218, 218) !important;
    border: 1px solid red;
    color: rgb(221 33 0);
}

.other_amount{
    font-size: 18px;
    color: #888;
    margin-bottom: 20px;
}

.line{
    border: none;
    height: 1px;
    width: 100%;
    background: rgb(132, 130, 130);
    margin-bottom: 2rem;
}

.donate_plan{
    padding: 1px 15% 100px;
    text-align: center;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cards h1{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}

.card-1,.card-2,.card-3 p{
    color: rgb(121, 113, 113);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}

.card-1{
    padding: 90px 20px 15px;
    border-radius: 5px;
    text-align: left;
    background: rgb(134, 210, 255);
    width: 350px;
    height: 300px;
}

.card-2{
    padding: 90px 20px 15px;
    border-radius: 5px;
    text-align: left;
    background: rgb(255, 186, 222);
    width: 350px;
    height: 300px;
}

.card-3{
    padding: 90px 20px 15px;
    border-radius: 5px;
    text-align: left;
    background: rgb(255, 246, 175);
    width: 350px;
    height: 300px;
}

.cetagory{
    padding: 1px 12% 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cetagorys{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.5rem;
}

.cetagory-img img{
    width: 550px;
    height: 450px;
} 

.cetagory-header{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.3;
}

.footer{
    padding: 50px 12% 100px;
    text-align: center;
}

.footer-description{
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 40px;
    font-weight: 400;
}

.footer-btn{
    background: rgb(255, 238, 176);
    padding: 4.4rem 70rem;
    display: flex;
    justify-content: center;
}

.contract-me{
    display: flex;
    align-items: center;
    width: 60%;
    background: rgb(188, 187, 187);
}

.contract-me input{
    outline: none;
    border: none;
    padding: 20px;
    background: transparent;
    flex: 1;
}

.btn-1{
    background: rgb(231, 56, 56);
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: none;
    width: 180px;
}

.copyright{
    background: rgb(5, 5, 46);
    text-align: center;
    color: #fff;
    width: 100%;
    padding: 50px;
}

.cpy-header{
    color: brown;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Yeon Sung', cursive;
}

.cpy-pragraph{
    color: #fff;
    font-size: 14px;
    font-family: 'roboto';
}

.cpy-line{
    border: none;
    height: 2px;
    width: 100%;
    background: rgb(132, 130, 130);
}


@media only screen and (max-width:688px){
    .hide{
        display: none;
    }
    .header{
        width: 115%;
        height: auto;
        background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.70)), url(images/donation5.jpg);
        background-position: center;
        background-size: cover;
        position: relative;
    }
    .donate_amount{
        flex-direction: column;
    }
    .cards{
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .cetagorys{
        flex-direction: column-reverse;

    }
    .contract-me input{
        padding-right: 0.1rem;
        padding-left: 0.1rem;
    }
    .footer-btn{
        padding: 0 10px;
        justify-content: start;
        background: none;
    }
}

@media only screen and (min-width:689px) and (max-width:992px){
    
}